@model CoreGbMSE.Models.TaskWork

@{
    ViewData["Title"] = "DetailTask";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}


<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Задача</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body">
        <div class="form-group">
            @Html.DisplayNameFor(model => model.TaskWorkId):
            @Html.DisplayFor(model => model.TaskWorkId)
        </div>
        <div class="form-group">
            @Html.DisplayNameFor(model => model.DateAdd):
            @Html.DisplayFor(model => model.DateAdd)
        </div>
        <div class="form-group">
            @Html.DisplayNameFor(model => model.FullName):
            @Html.DisplayFor(model => model.FullName)
        </div>
        <div class="form-group">
            @Html.DisplayNameFor(model => model.Telephone):
            @Html.DisplayFor(model => model.Telephone)
        </div>
        <div class="form-group">
            @Html.DisplayNameFor(model => model.Srochno)
            @Html.DisplayFor(model => model.Srochno)
        </div>
        <div class="form-group">
            @Html.DisplayNameFor(model => model.Status):
            @Html.DisplayFor(model => model.Status)
        </div>
        <div class="form-group">
            @Html.DisplayNameFor(model => model.Zayavka):<br />
            @Html.DisplayFor(model => model.Zayavka)
        </div>


    </div>
    <!-- /.box-body --> 
    @*<form role="form">*@
    <div class="box-footer text-right">
        <a class="btn btn-success" asp-controller="ITO" asp-action="FinishTask" asp-route-id="@Model.TaskWorkId">Выполненно</a>&nbsp;<a class="btn btn-danger" asp-action="CancelTask" asp-controller="ITO" asp-route-id="@Model.TaskWorkId">Отменить</a>&nbsp;<a class="btn btn-primary"  asp-action="WorkInTask" asp-controller="ITO" asp-route-id="@Model.TaskWorkId">В работе</a>&nbsp;<a class="btn btn-primary" asp-action="ListZayavka">Назад к списку</a>
    </div>
    @*</form>*@
</div>
<!-- /.box -->

